
    <div>
            <p
                style="text-align: center; background-color: rgb(233, 241, 238); color: red; font-weight: 700; font-size: 250%; line-height: 200%;">
                Home</p>
    </div>

        <br>

        <div id="main-container">
            <p style="text-align: center;">Welcome to my Portfolio</p>

            <br><br>
            <div style="float: left; ">
                <figure>
                    <img style="height: 200px; width: 200px;" src="./Images/aboutme.jpg" alt="about me Image">
                    <figcaption>About Me</figcaption>
                </figure>
            </div>

            <div style="float: left; ">
                <figure>
                    <img style="height: 200px; width: 200px;" src="./Images/project.jpeg" alt="about me Image">
                    <figcaption>Projects</figcaption>
                </figure>
            </div>

            <div style="float: left; ">
                <figure>
                    <img style="height: 200px; width: 200px;" src="./Images/services.jpeg" alt="about me Image">
                    <figcaption>Projects</figcaption>
                </figure>
            </div>

            <div>
                <figure>
                    <img style="height: 200px; width: 200px;" src="./Images/resume.png" alt="about me Image">
                    <figcaption>Resume</figcaption>
                </figure>
            </div>
        </div>

        <br>
        <div>
            <h3 style="text-align: center; background-color: rgb(233, 241, 238); line-height: 250%;"> My Mission : </h3>
            <p style="text-align: center;"> “To create the best version of tomorrow” </p>
        </div>

    </div>

<style>
    body {
        background-color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
</style>
