<%- include header.ejs %>

<%- include navigationBar.ejs %>

<!-- Main Part -->

    <main>
        <div>
            <%- include(page + '.ejs'); %>
        </div>
    </main>

<%- include footer.ejs %>