<!-- Main Navigation -->
<nav style="background-color: rgb(233, 241, 238); line-height: 250%; text-align: center; ">
    <a id="navLinks" href="views/src/home">Home</a> &ensp;&ensp; | &ensp;&ensp;
    <a id="navLinks" href="views/src/projects">Projects</a> &ensp; &ensp; | &ensp;&ensp;
    <a id="navLinks" href="views/src/services">Services</a> &ensp; &ensp; | &ensp;&ensp;
    <a id="navLinks" href="views/src/about_me">AboutMe</a> &ensp; &ensp; | &ensp;&ensp;
    <a id="navLinks" href="views/src/contactus">ContactUs</a>
</nav>

<style>
    #navLinks {
        text-decoration: none;
        color: black;
    }
</style>