<style>
    body {
        background-color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
</style>

<div>
    <p
        style="text-align: center; background-color: rgb(233, 241, 238); color: red; font-weight: 700; font-size: 250%; line-height: 200%;">
        Services</p>
</div>