<!-- Student Name : Rushi Rokad
Id : 301230471 -->

<footer style="height: 140px; width : 100%; background-color: rgb(233, 241, 238);">
    <p style="line-height: 240%; margin-left: 4%; font-size: 12px;">Student Name : Rushi Rokad <br>
        Student Id : 301230471 <br> Assignment : 1st <br> Topic : Portfolio Site <br> Course : COMP 229</p>

</footer>
