<!-- Student Name : Rushi Rokad
Id : 301230471 -->

<div style="margin-top: 2%;">
    <p
        style="text-align: center; background-color: rgb(233, 241, 238); color: red; font-weight: 700; font-size: 250%; line-height: 200%;">
        Home Page</p>
</div>