<!-- Student Name : Rushi Rokad
Id : 301230471 -->

<div style="height : 220px; width: auto; background-color: rgb(233, 241, 238); ">
    <img src="./Images/Profile Photo.jpeg" style="flex : right; width: 12%; height: 200px; ;" alt="">
    <p style="color: red; font-weight: 600; font-size: 38px; text-align: center; margin-top: -8%; ">PORTFOLIO - RUSHI
        ROKAD</p>
    <p style="float: right; margin-top: -10%; line-height: 240%; margin-right: 30px;">Student Name : Rushi Rokad <br>
        Student Id : 301230471 <br> Assignment : 1st <br> Topic : Portfolio Site <br> Course : COMP 229</p>

</div>