<div>

    <nav style="background-color: rgb(233, 241, 238); line-height: 250%; text-align: center; margin-top: 2%;">
        <a id="navLinks" href="views/src/home.ejs">Home</a> &ensp;&ensp; | &ensp;&ensp;
        <a id="navLinks" href="views/src/projects.ejs">Projects</a> &ensp; &ensp; | &ensp;&ensp;
        <a id="navLinks" href="views/src/services.ejs">Services</a> &ensp; &ensp; | &ensp;&ensp;
        <a id="navLinks" href="views/src/about_me.ejs">AboutMe</a> &ensp; &ensp; | &ensp;&ensp;
        <a id="navLinks" href="views/src/contactus.ejs">ContactUs</a>
    </nav>

    <style>
        #navLinks {
            text-decoration: none;
            color: black;
        }
    </style>
</div>