<%- include ('partials/header') %>
<br>

<div id="main-container">
    <p style="text-align: center; font-weight: bolder; color: red; font-size: 250%;">Home Page</p>

    <div id="div_images">

        <a href="/views/project">
            <figure>
                <img id="images" src="/images/project.jpeg" alt="project Image">
            </figure>    
        </a>

        <a href="/views/services">
            <figure>
                <img id="images" src="/images/services.jpeg" alt="service Image">
                <!-- <figcaption>Services</figcaption> -->
            </figure>
        </a>

        <a href="/images/Resume.pdf" download="/images/Resume.pdf">
            <figure>
                <img id="images" src="/images/resume.png" alt="resume Image">
                <!-- <figcaption>Resume</figcaption> -->
            </figure>
        </a>
        
        <figure>
            <img id="images" src="/images/aboutme.jpg" alt="about me Image">
            <!-- <figcaption>About Me</figcaption> -->
        </figure>
    

        <figure>
            <img id="images" src="/images/contactme.jpeg" alt="contact me Image">
            <!-- <figcaption>Contact Me</figcaption> -->
        </figure>
    </div>
</div>
<br>
<div>
    <h3 style="text-align: center; background-color: rgb(233, 241, 238); line-height: 250%; margin-top: 7%;"> My Mission : </h3>
    <p style="text-align: center;"> “To create the best version of tomorrow” </p>
</div>

<br><br>
</div>

<%- include ('partials/footer') %>