<%- include '../Components/header.ejs' %>

<%- include '../Components/navBar.ejs' %>

<%- include '../Components/navBar_2.ejs' %>

<br>

<div id="main-container">
    <p style="text-align: center;">Welcome to my Portfolio</p>

    <br><br>


    <div style="float: left; ">
        <figure>
            <img style="height: 200px; width: 200px;" src="../public/Assets/Images/project.jpeg" alt="about me Image">
            <figcaption>Projects</figcaption>
        </figure>
    </div>

    
    <div style="float: left; ">
        <figure>
            <img style="height: 200px; width: 200px;" src="../public/Assets/Images/services.jpeg" alt="about me Image">
            <figcaption>Services</figcaption>
        </figure>
    </div>

    <div style="float: left;">
        <figure>
            <img style="height: 200px; width: 200px;" src="../public/Assets/Images/resume.png" alt="about me Image">
            <figcaption>Resume</figcaption>
        </figure>
    </div>

    <div style="float: left; ">
        <figure>
            <img style="height: 200px; width: 200px;" src="../public/Assets/Images/aboutme.jpg" alt="about me Image">
            <figcaption>About Me</figcaption>
        </figure>
    </div>

    <div>
        <figure>
            <img style="height: 200px; width: 200px;" src="../public/Assets/Images/contactme.jpeg" alt="about me Image">
            <figcaption>Contact Me</figcaption>
        </figure>
    </div>
</div>

<br>
<div>
    <h3 style="text-align: center; background-color: rgb(233, 241, 238); line-height: 250%;"> My Mission : </h3>
    <p style="text-align: center;"> “To create the best version of tomorrow” </p>
</div>

<br><br>
</div>

<%- include '../Components/footer.ejs' %>