<!-- Student Name : Rushi Rokad
Id : 301230471 -->

<%- include ('partials/header') %>
    <br>

    <div id="main-container">
        <p style="text-align: center; font-weight: bolder; color: red; font-size: 250%;">Projects</p>


<br><br>
<div>
    <img src="/images/project.jpeg"margin-left: 35%;  width: 500px; height: 300px;" alt="">

    <br><br>

   
</div>
<%- include ('partials/footer') %>