
<html>
    <head>
        <%- include('../partials/head.ejs'); %>
    </head>

    <body>
    <header>
        <%- include('../partials/header.ejs'); %>
    </header>
    <br>

    <%- include('../partials/navBar.ejs'); %>

        <div style="margin-top: 2%;">
            <p
                style="text-align: center; background-color: rgb(233, 241, 238); color: red; font-weight: 700; font-size: 250%; line-height: 200%;">
                About Me</p>
        </div>

        <br><br>
        <div>

            <img src="../../public/Assets/Images/whoami.jpeg" style="margin-left: 35%;  width: 500px; height: 300px;" alt="">

            <br><br>

            <p style="margin-left: 20%; margin-right: 20%;"> &nbsp;&nbsp;&nbsp;&nbsp; My name is Rushi Rokad and I am a student
                of Centennial College. my Program is <b>Software Engineering Technology - Artificial Intelligence</b>.
                Currently, I am in 3rd Semester. I love coding and developing new softwares. If you want to know more about me,
                My email Id is in Contact us Section. Please visit there.</p>

            <br><br>

            <p style="text-align: center;"><a href="../../public/Assets/Images/Resume.pdf" style="text-decoration: none; color: red;">My Resume</a></p>
        </div>

        <footer>
            <%- include('../partials/footer.ejs'); %>
        </footer>

    </body>
    </html>