<%- include '../Components/header.ejs' %>

<%- include '../Components/navBar.ejs' %>

<div style="margin-top: 2%;">
    <p
        style="text-align: center; background-color: rgb(233, 241, 238); color: red; font-weight: 700; font-size: 250%; line-height: 200%;">
        Services</p>
</div>

<br><br>
<div>
    <img src="../../public/Assets/Images/services.jpeg" style="margin-left: 35%;  width: 500px; height: 300px;" alt="">

    <br><br>

   
</div>

<%- include '../Components/footer.ejs' %>